{% extends 'core/base.html' %}
{% load static %}
<title>
  {% block title %}
    Historia | La Caffettiera
  {% endblock %}
</title>

<!-- Main Content -->
{% block content %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/azul.jpg' %}" alt="" />
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Tradición familiar italiana</span>
                <span class="section-heading-lower">Nuestra historia</span>
              </h2>
              <p>Nuestros inicios se remontan a un pequeño taller artesanal donde comenzamos diseñando y fabricando azulejos únicos a mano, con un enfoque en la calidad y el detalle. Lo que empezó como una pasión por crear piezas que combinaban funcionalidad y belleza, pronto se convirtió en un negocio reconocido por su dedicación y excelencia.</p>
              <p>A medida que crecíamos, fuimos ampliando nuestra colección, incorporando nuevos estilos y tecnologías, pero siempre manteniendo intacta nuestra esencia artesanal. Con el tiempo, nuestra visión nos llevó a expandirnos, convirtiéndonos en una tienda de referencia para aquellos que buscan transformar sus espacios con productos de alta calidad. Hoy, seguimos honrando nuestras raíces, ofreciendo tanto azulejos tradicionales como modernos, adaptados a las necesidades de nuestros clientes y proyectos de todo tipo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
